@model DemoFua.Models.Fund

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInside.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Fund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isGranted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isGranted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
